
.box-with-text {
  background: url(../images/pool.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}

/* Other styles */
.jumbotron {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  color: transparent;
  background-clip: text;
  max-height: 30vh;
}

.box-with-text {
  
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: 'Black Ops One', cursive;
  font-weight: 100;
}

.container-fluid{
color:goldenrod;
font-family:  'Bungee Inline', cursive;
font-size:.7rem;
}

#gem1{
  max-height: 150px;
  background-image:  url(../images/brightsun.jpg);
  clip-path: polygon(25% 0%, 50% 25%, 50% 75%, 25% 100%, 0% 75%, 0% 25%);
}
#gem2{
  max-height:150px;
  background-image:  url(../images/mnj.jpg);
  clip-path:polygon(35% 0%, 50% 50%, 35% 100%, 15% 100%, 0% 50%, 15% 0%);
}

#gem3{
  max-height:150px;
  background-image:  url(../images/moonwarp.jpg);
  clip-path: polygon(8% 15%, 15% 15%, 15% 0%, 43% 0%, 43% 15%, 50% 15%, 50% 85%, 43% 85%, 43% 100%, 15% 100%, 15% 85%, 8% 85%);
  background-position-x:-600px;
  background-position-y:-500px;

}
#gem4{
  max-height:150px;
  background-image:  url(../images/shells.jpg);
  clip-path: polygon(25% 0%, 50% 50%, 25% 100%, 0% 50%);
  background-position-x:-600px;
  background-position-y:-500px;
}



/* Font Families */
/* font-family: 'Press Start 2P', cursive;
   font-family: 'Black Ops One', cursive;
   font-family: 'Bungee Inline', cursive; */