body{
  /* height:100vh; */
  background-color: #787879;
 
 
}
.box-with-text {
  background: url(../images/pool.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}

/* Other styles */
.jumbotron {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  color: transparent;
  background-clip: text;
  max-height: 30vh;
}

.box-with-text {
  
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: 'Black Ops One', cursive;
  font-weight: 100;
}

.container-fluid{
color:goldenrod;
font-family:  'Bungee Inline', cursive;
font-size:.7rem;
}

#gem1{
  max-height: 150px;
  background-image:  url(../images/brightsun.jpg);
  clip-path: polygon(25% 0%, 50% 25%, 50% 75%, 25% 100%, 0% 75%, 0% 25%);
  background-position-x:-1000px;
  background-position-y:-200px;

}
#gem2{
  max-height:150px;
  background-image:  url(../images/mnj.jpg);
  clip-path:polygon(35% 0%, 50% 50%, 35% 100%, 15% 100%, 0% 50%, 15% 0%);
  background-position-x:-225px;
  background-position-y:-130px;

}

#gem3{
  max-height:150px;
  background-image:  url(../images/crystal.jpg);
  clip-path: polygon(8% 15%, 15% 15%, 15% 0%, 43% 0%, 43% 15%, 50% 15%, 50% 85%, 43% 85%, 43% 100%, 15% 100%, 15% 85%, 8% 85%);
  background-position-x:-600px;
  background-position-y:-600px;

}
#gem4{
  max-height:150px;
  background-image:  url(../images/shells.jpg);
  clip-path: polygon(25% 0%, 50% 50%, 25% 100%, 0% 50%);
  background-position-x:-600px;
  background-position-y:-500px;
}

#scoreboard{
  
  border: silver solid 3px;
  
  
}
#gettar{
  font-family: 'Press Start 2P', cursive;
  font-size:1.5rem;
}
#wrapper {
  height:50vh;
  width: 50%;
  border:silver solid 3px;
  background: black;
  margin-left:25%;
}


.col-6.display{
  font-family: 'Press Start 2P', cursive;
  justify-content:flex-end;
  color: rgba(240, 217, 13, 0.842);
  font-size:1.5rem;
}
span{
  font-family: 'Press Start 2P', cursive;
  
} 
span.target{
color:rgb(211, 76, 76);
}

span.score{
  color:rgba(57, 194, 3, 0.842);
  }
span.wins{
  color:rgba(21, 34, 216, 0.788);
}
span.losses{
  color:rgba(245, 84, 9, 0.637);
}
span.games{
  color:rgb(0, 204, 255);
}

/* Font Families */
/* font-family: 'Press Start 2P', cursive;
   font-family: 'Black Ops One', cursive;
   font-family: 'Bungee Inline', cursive; */